.error-message {
  font-size: 14px;
  color: #d9534f;
  margin-top: 5px;
  
  &:before {
    content: "!";
    display: inline-block;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #d9534f;
    transform: translateY(2px);
  }
  
  &:focus {
    outline: none;
  }
  
  &.error {
    border-color: #d9534f;
  }
}